@media (max-width: 1024px) {
    ul{
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-right: 10%;
        margin-top: 70px;
    }
    ul li{
        list-style: none;
        font-size: 25px;
        margin-bottom: 25px;
        display: flex;
        color: rgb(202, 202, 202);
        font-family: 'Roboto-Regular';
    }
    ul li div{
        width: 16px;
        height: 16px;
        border-top: 3px solid rgb(202, 202, 202);
        border-right: 3px solid rgb(202, 202, 202);
        transform: rotate(45deg);
        margin-right: 20px;
    }
    #contain{
        width: fit-content;
        height: fit-content;
        margin-left: 15%;
        margin-top: -330px;
    }
    #contain #img1{
        width: 340px;
        height: 340px;
        margin-left: auto;
    }
}

